@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  outline: none;
  border: none;
}
html{
  font-size: 62.5%;
}
nav{
  padding: 1.5rem 1.6rem !important;
}
section {
  padding: 1.6rem;
}
.heading{
  font-size: 2rem;
  padding: 1.25rem 1rem;
  background: #F0F0F0;
  display: block;
}