.summary{
  width: 100%;
}
.summary .table-container th, td{
  border-bottom: 0.05rem solid #DDDDDD;
  font-size: 1.4rem;
  line-height: 1.8;
  padding: .3rem 2rem;
}
.summary .table-container .last-line{
  border-bottom: none;
}
.summary .table-container th{
  width: 29%;
  background: #F0F0F0;
  padding: 1.1rem 2rem;
}
.summary .table-container td{
  font-weight: bold;
  text-align: left;
}
